<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>catz</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>catz</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>catz</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>catz</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Filz! uses your local network to discover nearby devices and transfer files.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_filz-permission._tcp</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Filz! can save received photos and videos to your photo library when Save media to gallery is enabled.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>top.kitsune.filz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>filz</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
